@media (max-width: 575.98px) {
    .d-flex {
      display: flex;
      flex-direction: column;
    }
    .card {
        width:100vw;
        display: flex;
        align-items: center;
    }
    header {
        width:100vw;
    }
  }